/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
    .header {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {

    /*========== VIDEO ==========*/
    .video-container {
        position: relative;
        width: 100%;
        min-height: var(--general-min-hight-section);
        overflow: hidden;
    }

    /*========== ABOUT US ==========*/
    .about-us {
        background-image: url('../img/bg/bg2.png');
        background-position-x: left;
        background-position-y: bottom;
        background-size: cover;
        background-repeat: no-repeat;
        min-height: var(--general-min-hight-section);
        color: white;
    }

    .about-us .item-1 {
        background-image: none;
    }

    .about-us .item-2 {
        background-image: none;
    }

    .about-us .item-3 {
        background-image: none;
    }

    /*========== OUR OBJETIVE ==========*/
    .our-objetive {
        background-image: url('../img/bg/bg4.png');
        background-position: center;
        background-position-x: right;
        background-size: cover;
        background-repeat: no-repeat;
        min-height: var(--general-min-hight-section);
        color: white;
    }

    .our-objetive .item-1 {
        background-image: none;
    }

    .our-objetive .item-2 {
        background-image: none;
    }

    .our-objetive .item-3 {
        background-image: none;
    }

    /*========== OUR DEVELOPMENTS ==========*/
    .our-developments {
        background-image: url('../img/bg/bg5.png');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        min-height: var(--general-min-hight-section);
        color: white;
    }

    .our-developments .container-fluid.center,
    .our-developments .container-fluid.bottom {
        padding-right: 1% !important;
        padding-left: 1% !important;
    }

    /*========== COMERCIAL ACTIVITY ==========*/
    .comercialActivity {
        background-image: url('../img/bg/bg6.png');
    }

    /*========== FOLLOW US ==========*/
    .followUs {
        min-height: calc(100px + (500 - 100) * ((100vw - 300px) / (1600 - 300)));
    }

    .social-media-text {
        font-size: var(--paragraphs-dinamic-font-size) !important;
    }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {

    /*========== VIDEO ==========*/
    .video-container .contentZ {
        width: 50%;
        left: 0%;
        transform: translate(14%, -50%);
        padding: 0 0;
    }


    /*=================================*/
    /*========== OPPORTUNITY ==========*/
    .an-opportunity,
    .opportunity .plan {
        padding: 3rem;
    }

    /*======== FOR WHOM IT IS? ========*/
    .forWhomItIs {
        flex-direction: row;
    }

    .column1,
    .column2 {
        width: 50%;
    }

}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

    /*========== VIDEO ==========*/
    .video-container .contentZ {
        width: 40%;
        left: 0%;
        transform: translate(14%, -50%);
        padding: 0 0;
    }

    /*=================================*/
    /*========== OPPORTUNITY ==========*/
    .opportunity .plan {
        padding: 7rem;
    }

    .an-opportunity {
        padding: 5rem;
    }

    /*========== TYPES OF COMMISIONS ==========*/
    .comission {
        padding: 0.5rem 1rem;
    }
}


/*======================*/
/*====== GLOBALES ======*/
@media (min-width : 992px) {
    .w-lg-75 {
        width: 75% !important;
    }

    .w-lg-80 {
        width: 80% !important;
    }
}

@media (min-width: 1200px) {
    .w-xl-75 {
        width: 75% !important;
    }

    .w-xl-80 {
        width: 80% !important;
    }
}