:root {
    --color-aqua: #6FFFD0;
    --color-dark: #050911;
    --color-purple: #8D4FFF;
    --color-blue: #0075FF;
    --color-light-blue: #26c8ec;
    --color-light-green: #7DFFA9;
    --color-light-purple: #A1C3FF;

    --letter-spacing: .1rem;
    --line-height: 1.2rem;

    --general-min-hight-section: calc(100px + (800 - 100) * ((100vw - 300px) / (1600 - 300)));
    --mobile-min-hight-section: calc(550px + (650 - 550) * ((100vw - 300px) / (1600 - 300)));

    --paragraphs-dinamic-font-size : calc(14px + (18 - 14) * ((100vw - 300px) / (1600 - 300)));
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--color-dark);
}

@font-face {
    font-family: "Montserrat";
    src: url(../assets/fonts/Montserrat/static/Montserrat-Regular.ttf);
}

@font-face {
    font-family: "MontserratSemiBold";
    src: url(../assets/fonts/Montserrat/static/Montserrat-SemiBold.ttf);
}

@font-face {
    font-family: "MontserratBold";
    src: url(../assets/fonts/Montserrat/static/Montserrat-Bold.ttf);
}

@font-face {
    font-family: "SourceSansProLight";
    src: url(../assets/fonts/SourceSansPro/SourceSansPro-Light.otf);
}

@font-face {
    font-family: "SourceSansProRegular";
    src: url(../assets/fonts/SourceSansPro/SourceSansPro-Regular.otf);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "MontserratBold";
    letter-spacing: .2rem;
}

.h1 {
    font-size: calc(33px + (43 - 33) * ((100vw - 300px) / (1600 - 300))) !important;
}

.h3 {
    font-size: calc(18px + (25 - 18) * ((100vw - 300px) / (1600 - 300))) !important;
}

.h5 {
    font-size: calc(13px + (17 - 13) * ((100vw - 300px) / (1600 - 300))) !important;
}


label,
p {
    /*font-family: "SourceSansProLight";*/
    font-family: "SourceSansProRegular";
    font-size: var(--paragraphs-dinamic-font-size) !important;
    letter-spacing: var(--letter-spacing);
}

.textAqua {
    font-family: "SourceSansProRegular";
    color: var(--color-aqua);
    letter-spacing: var(--letter-spacing);
    line-height: var(--line-height);
}

.colorAqua {
    color: var(--color-aqua);
}

.colorLightBlue {
    color: var(--color-light-blue);
}

.navbar-light .navbar-toggler-icon {
    background-image: url('../img/icons/togglerIcon.svg') !important;
}

.container-fluid {
    padding-right: 7% !important;
    padding-left: 7% !important;
}

.btn-principal {
    font-family: "MontserratSemiBold";
    background: rgb(20, 23, 49);
    background: linear-gradient(129deg, rgba(20, 23, 49, 0.9838060224089635) 5%, rgba(38, 160, 178, 1) 25%, rgba(42, 102, 138, 1) 50%, rgba(64, 135, 189, 1) 75%, rgba(19, 20, 46, 1) 95%);
    color: white;
    border: 1px solid #7ccaf7;
    letter-spacing: var(--letter-spacing);

    padding: 0.70rem 3rem;
    border-radius: 10px;

    position: relative;
    overflow: hidden;
}

.btn-principal:hover {
    color: white;
    box-shadow: 1px 1px 25px 5px rgba(146, 148, 248, 0.4);
}

.btn-principal:before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(120deg,
            transparent,
            rgba(146, 148, 248, 0.4),
            transparent);
    transition: all 650ms;
}

.btn-principal:hover:before {
    left: 100%;
}

.w-80{
    width: 80% !important;
}

.w-90{
    width: 90% !important;
}

/*========== CAROUSEL ==========**/
.carousel-control-prev-icon {
    background-image: url('../img/icons/prev.png');
}

.carousel-control-next-icon {
    background-image: url('../img/icons/next.png');
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    height: 35px;
}

.carousel-control-next,
.carousel-control-prev {
    width: 5%;
}

.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid white;
}

.carousel-indicators .active {
    background-color: var(--color-aqua);
}

/*========== NAVBAR ==========*/
.header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1020;
}

.img-responsive {
    width: calc(100px + (130 - 100) * ((100vw - 300px) / (1600 - 300)));
}

.bg-transparent-dark {
    background-color: rgba(0, 0, 0, 0.5);
}

.navbar-light .navbar-nav .nav-item .nav-link {
    font-family: "Montserrat";
    color: white;
    text-transform: uppercase;
}

.nav-link {
    padding: 0 1rem;
}

.custom-link {
    position: relative;
}

.custom-link:hover::after {
    width: 100%;
    left: 0;
}

.custom-link::after {
    position: absolute;
    content: "";
    width: 0%;

    background-image: linear-gradient(to right, var(--color-blue), var(--color-purple));
    background-repeat: no-repeat;
    background-position: bottom;
    height: 2px;

    left: 50%;
    bottom: 0;
    transition: all 0.2s ease-in-out;
}

.dropdown-menu {
    background: rgba(0, 0, 0, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.dropdown-menu a {
    color: white;
}

.dropdown-menu a:hover {
    background: rgba(0, 0, 0, 0.25);
    color: white;
}

.dropdown .nav-link {
    padding: 0.5rem 1rem !important;
}

/*========== VIDEO ==========*/
.video-container {
    position: relative;
    width: 100%;
    min-height: var(--mobile-min-hight-section);
    overflow: hidden;
}

#background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contentZ {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    padding: 0 7%;
}

.video {
    color: white;
}

.video .h1 {
    font-size: calc(21px + (43 - 21) * ((100vw - 300px) / (1600 - 300))) !important;
}

/*========== ABOUT US ==========*/
.about-us .item-1,
.about-us .item-2,
.about-us .item-3{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: var(--mobile-min-hight-section);
    color: white;
}

.about-us .item-1{
    background-image: url('../img/bg/mobile/aboutus/bg1.png');
}
.about-us .item-2{
    background-image: url('../img/bg/mobile/aboutus/bg2.png');
}
.about-us .item-3{
    background-image: url('../img/bg/mobile/aboutus/bg3.png');
}
/*========== VIDEO ==========*/

.section-video {
    background-image: url('../img/bg/bg3.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: var(--general-min-hight-section);
}

.section-video.container-fluid{
    padding-right: 1% !important;
    padding-left: 1% !important;
}

/*========== OUR OBJETIVE ==========*/
.our-objetive .item-1,
.our-objetive .item-2,
.our-objetive .item-3{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: var(--mobile-min-hight-section);
    color: white;
}

.our-objetive .item-1{
    background-image: url('../img/bg/mobile/ourobjetive/bg1.png');
}
.our-objetive .item-2{
    background-image: url('../img/bg/mobile/ourobjetive/bg2.png');
}
.our-objetive .item-3{
    background-image: url('../img/bg/mobile/ourobjetive/bg3.png');
}
/*========== OUR DEVELOPMENTS ==========*/
.our-developments .item-1,
.our-developments .item-2,
.our-developments .item-3{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: var(--mobile-min-hight-section);
    color: white;
}

.our-developments .item-1{
    background-image: url('../img/bg/mobile/ourdevelopments/bg1.png');
}
.our-developments .item-2{
    background-image: url('../img/bg/mobile/ourdevelopments/bg2.png');
}
.our-developments .item-3{
    background-image: url('../img/bg/mobile/ourdevelopments/bg3.png');
}

.vertical-alignment {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: var(--general-min-hight-section);
}

.card-blur {
    width: 100%;
    text-align: center;
    margin: auto;
    border: 1px solid transparent;
    border-image: linear-gradient(45deg, var(--color-blue), var(--color-light-green), var(--color-light-purple)) 0.5;

    background: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
}

.card-blur .card-title {
    color: var(--color-aqua) !important;
}

.od-header{
    position: absolute;
    top: 0;
    left: 0;
}

.od-contain{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.od-footer{
    position: absolute;
    bottom: 0;
    left: 0;
}

.od-footer,
.footer-desc {
    width: 100%;
    /*margin: auto;*/
    line-height: var(--line-height);
    color: rgba(255, 255, 255, 0.7);
}


/*========== COMERCIAL ACTIVITY ==========*/
.comercialActivity {
    background-image: url('../img/bg/mobile/bgComercial.png');
    background-position: unset;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: var(--general-min-hight-section);
    color: white;
}

/*========== OUR SERVICES ==========*/
.our-servises {
    background-image: url('../img/bg/bg7.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: var(--general-min-hight-section);
    color: white;
}

.our-servises .card {
    background-color: transparent !important;
}

.our-servises .card .card-body {
    /*padding: 1.25rem;*/
    padding: 0;
}

.our-servises p {
    line-height: var(--line-height);
    margin-bottom: 0.5rem;
}

.our-services-list li {
    color: #4dffff;
}

.our-services-list li p{
    color: white;
}

.bg-blur {
    background: rgba(0, 0, 0, 0.15);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
}

.card-marco-ext {
    border: 1.5px solid #4dffff;
}

.card-marco-int {
    position: relative;
    /*border: 1.5px solid #4dffff;*/
    margin: 7px;
}

.card-border-top {
    position: absolute;
    top: 0;
    left: 25px;
    right: 25px;
    width: calc(100% - 50px);
    height: 1.5px;
    background-color: #4dffff;
}

.card-border-bottom {
    position: absolute;
    bottom: 0;
    left: 25px;
    right: 25px;
    width: calc(100% - 50px);
    height: 1.5px;
    background-color: #4dffff;
}

.card-border-left {
    position: absolute;
    top: 15px;
    bottom: 15px;
    left: 0;
    width: 1.5px;
    background-color: #4dffff;
}

.card-border-right {
    position: absolute;
    top: 14px;
    bottom: 14px;
    right: 0;
    width: 1.5px;
    background-color: #4dffff;
}

.esq-sup-izq {
    position: absolute;
    top: 0;
    left: 0;
}

.esq-sup-der {
    position: absolute;
    top: 0;
    right: 0;
    transform: rotateY(180deg);
}

.esq-inf-der {
    position: absolute;
    bottom: 0;
    right: 0;
    transform: rotateX(180deg) rotateY(180deg);
}

.esq-inf-izq {
    position: absolute;
    bottom: 0;
    left: 0;
    transform: rotateX(180deg);

}

/*========== CONTACT US ==========*/
.contactUs {
    background-image: url('../img/bg/bg8.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: var(--general-min-hight-section);
    color: white;
}

.form-control {
    background-color: rgba(161, 195, 255, 0.2);
    border: 1px solid var(--color-blue);
    height: calc(2em + 0.75rem + 2px);
    color: rgba(255, 255, 255, 0.5);
}

.form-control:focus {
    border: none;
    box-shadow: none;

    background-color: rgba(161, 195, 255, 0.2);
    border: 1px solid var(--color-blue);
    color: rgba(255, 255, 255, 0.75);
}

.to-bottom {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.contactUs h3 {
    font-family: "MontserratSemiBold";
}

/*========== FOLLOW US ==========*/
.followUs {
    background-image: url('../img/bg/bg9.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: var(--mobile-min-hight-section);
    color: white;
}

.followUs h2{
    margin: 0;
}
.social-media-text{
    font-family: "SourceSansProLight";
    font-size: calc(33px + (43 - 33) * ((100vw - 300px) / (1600 - 300))) !important;
}

.social-menu img {
    transition: transform 0.5s ease;
    width: calc(50px + (35 - 50) * ((100vw - 300px) / (1600 - 300)));
}

.social-menu img:hover {
    transform: scale(1.3);
    transition: transform 0.5s ease;
}

.list-inline-item:not(:last-child) {
    margin-right: 2rem;
}

/*========== FOOTER ==========*/
.footer {
    background-color: var(--color-dark);
    color: rgba(255, 255, 255, 0.5);
}

._container {
    display: flex;
}

.col1,
.col2 {
    flex-basis: 50%;
}

footer ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

footer ul>li>a {
    color: rgba(255, 255, 255, 0.5);
}

footer ul>li>a:hover {
    color: white;
    text-decoration: none;
}

/*=================================*/
/*========== OPPORTUNITY ==========*/
.opportunity {
    background-image: url('../img/bg/opportunity/bg1.png');
    background-position-x: center;
    background-position-y: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: var(--general-min-hight-section);

    color: white;
}

.opportunity .plan {
    width: 100%;
    text-align: center;
    margin: auto;
    border: 2px solid transparent;
    border-image: linear-gradient(45deg, var(--color-blue), var(--color-light-green), var(--color-light-purple)) 0.5;

    background: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(4px);
    padding: 1rem;
}

.opportunity .plan .h3 {
    font-family: "MontserratSemiBold";
    text-transform: uppercase;
    font-size: calc(13px + (25 - 13) * ((100vw - 300px) / (1600 - 300))) !important;
}

/*========== TYPES OF COMMISIONS ==========*/
.commissions {
    background-color: black;
    background-image: url('../img/bg/opportunity/bg2.png');
    background-position-x: center;
    background-position-y: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: var(--general-min-hight-section);

    color: white;
}

.comission {
    position: relative;
    padding: 0;
    text-align: center;
    width: 100%;
    margin: auto;
}

.comission-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.comission .h3 {
    font-size: calc(20px + (27 - 20) * ((100vw - 300px) / (1600 - 300))) !important;
}

.comission .h5 {
    font-size: calc(15px + (20 - 15) * ((100vw - 300px) / (1600 - 300))) !important;
}

/*========== TECHNOLOGY BLOCKCHAIN ==========*/
.empowerUSDT {
    background-color: black;
    background-image: url('../img/bg/opportunity/bg3.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: var(--general-min-hight-section);

    color: white;
}

.empowerUSDT .plan {
    width: 100%;
    text-align: center;
    margin: auto;
    border: 2px solid transparent;
    border-image: linear-gradient(45deg, var(--color-blue), var(--color-light-green), var(--color-light-purple)) 0.5;

    background: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(4px);
    padding: 1rem;
}

.empowerUSDT .plan .h3 {
    font-family: "MontserratSemiBold";
    text-transform: uppercase;
    font-size: calc(13px + (25 - 13) * ((100vw - 300px) / (1600 - 300))) !important;
}

/*========== EMPOWER USDT ==========*/
.empower {
    background-color: black;
    background-image: url('../img/bg/opportunity/bg4.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: var(--general-min-hight-section);
    color: white;
}

.empower-card {
    background: rgb(0, 0, 0);
    background: linear-gradient(24deg, rgba(0, 0, 0, 0) 0%, rgba(25, 125, 242, 0.2665441176470589) 82%, rgba(0, 209, 255, 0.4598214285714286) 100%);
    /*box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);*/
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    padding: 2rem;
}

.empower-card p {
    line-height: var(--line-height);
    margin-bottom: 0.5rem;
    font-size: calc(13px + (14 - 13) * ((100vw - 300px) / (1600 - 300))) !important;
}

.empower-card h6 {
    font-family: "Montserrat";
}

span.vineta {
    font-family: "MontserratSemiBold";
}

.empower-card p>span.colorAqua {
    font-family: "SourceSansProRegular";
}

/*========== COMPENSATION PLAN ==========*/
.compensation-plan {
    background-color: black;
    background-image: url('../img/bg/opportunity/bg5.png');
    background-position-x: center;
    background-position-y: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: var(--general-min-hight-section);

    color: white;
}

/*========== FOR WHOM IT IS? ==========*/
.forWhomItIs {
    background-color: black;
    min-height: var(--general-min-hight-section);

    color: white;

    display: flex;
    flex-direction: column;
}

.column1 {
    width: 100%;

    background-image: url('../img/bg/opportunity/bg6.png');
    background-position-x: center;
    background-position-y: bottom;
    background-size: cover;
    background-repeat: no-repeat;
}

.column2 {
    width: 100%;

    background-image: url('../img/bg/opportunity/bg7.png');
    background-position-x: center;
    background-position-y: bottom;
    background-size: cover;
    background-repeat: no-repeat;
}

.an-opportunity {
    background-color: #101823;
    color: white;

    text-align: center;
    border: 2px solid transparent;
    border-image: linear-gradient(45deg, var(--color-blue), var(--color-light-green), var(--color-light-purple)) 0.5;

    padding: 1rem;
}

.an-opportunity .h3 {
    font-family: "MontserratSemiBold";
    text-transform: uppercase;
    font-size: calc(13px + (25 - 13) * ((100vw - 300px) / (1600 - 300))) !important;
}

/*========================================*/
/*========== POLICIES AND TERMS ==========*/
.terms {
    background-image: url(../img/bg/bg-terms.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.policies-footer {
    background-image: url(../img/bg/bg-footer-policies.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.terms-footer {
    background-image: url(../img/bg/bg-footer-terms.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.terms ul li {
    font-family: "SourceSansProLight";
    font-size: calc(13px + (18 - 13) * ((100vw - 300px) / (1600 - 300))) !important;
    letter-spacing: var(--letter-spacing);
    margin-left: 2%;
}